.button {
  display: inline-flex;
  gap: var(--space-3);
  padding: var(--space-2) var(--space-4);
  border-radius: var(--border-radius-2);
  border: none;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-gray-100);
}

.btn-primary:hover {
  background-color: var(--color-primary-dark);
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-gray-100);
}

.btn-secondary:hover {
  background-color: var(--color-secondary-dark);
}

.btn-tertiary {
  background-color: var(--color-gray-300);
  color: var(--color-gray-800);
}

.btn-tertiary:hover {
  background-color: var(--color-gray-400);
}

.btn-danger {
  background-color: var(--color-danger);
  color: var(--color-gray-100);
}

.btn-danger:hover {
  background-color: var(--color-red-800);
}
