#global-nav .site-title {
  color: var(--navbar-contrast-color);
  font-family: "Cormorant Garamond", "Times New Roman", Times, serif;

  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-7);
  margin: var(--space-4) var(--space-0);
}

#global-nav .site-title span {
  display: inline-block;
  font-size: var(--font-size-8);
}

#global-nav .site-title .navbar-link {
  text-decoration: none;
}

#global-nav .navbar-link {
  color: var(--navbar-contrast-color);
}

#global-nav .navbar-link:hover {
  text-decoration: none;
}

#global-nav .navbar-logout-button {
  background-color: var(--color-secondary);
  border: none;

  border-radius: var(--border-radius-2);

  padding: var(--space-1) var(--space-3);
}

#global-nav .navbar-logout-button:hover {
  background-color: var(--color-secondary-dark);
}
